/* geral 
tirando aqui a margem, borda, colocando em fonte padrão tudo etc */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #323232;
    border: none;
}

body {
    /* background-color: #007EC5; */
    background-image: url(../01\ -\ projeto/imgs/background.png);
    /* background: linear-gradient(180deg, #007EC5 0%, #896D55 41.15%, rgba(0, 126, 197, 0.0260417) 99.99%, rgba(0, 126, 197, 0) 100%); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100px;   
    
}


/* aqui ainda tentando entender o que faz */
textarea:focus, input:focus {
    outline: none,
}

/* colocando a fonte de todos os 'a' que no caso são os links num tamanho padrão */
a {
    font-size: .7rem;
    color: #007EC5;
}

/* colocando aqui que quando passar o mouse por cima dos 'a' vai ficar azulzinho */
a:hover {
    color: #08558B;
}


/* login-container */
/* pegando aqui a id que coloquei lá no html */
#login-container {
    background-color: black;
    width: 553px;
    height: 302px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 25vh;
    border-radius: 15px;
    text-align: center;
    
}

/* formulário */
form {
    margin-top: 30px;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 50%;
    text-align: left;
    height: 30px;
}

input {
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 35px;
    margin-top: 50px;
}

input:focus {
    border-bottom: 2px solid #08558B;
}

#password {
    margin-top: -5px;
}

#new-account {
    text-align: right;
    display: block;
    width: 50%;
    margin-top: -30px;
    margin-bottom: 5px;
}

#forgot-pass {
    text-align: right;
    display: block;
    width: 50%;
    margin-top: -5px;
    margin-bottom: 5px;
}

input[type="submit"] {
    padding: 5rem;
    text-align: center;
    text-transform: uppercase;
    margin-left: 12%;
    /* border: 10px; */
    height: 30px;
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #ffffff;
    background-color: #007EC5;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding: 0;
}

input[type="submit"]:hover {
    background-color: #1b223c;
    transition: .5s;
}

.dragon-img {
    width: 200px;
    position: absolute;
    top: 5rem;
    left: 21rem;
    
}