@font-face {
    font-family: pixelart;
    src: url(./pixelart.ttf)
}

body {
    background-image: url(./imgs/KhfVCl.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: pixelart;
}

.buttons-part {
    background-color: gray;
}

.hero-img, .monster-img {
    width: 15%;
}

.superior-part {
    position: relative;
}